
<div class="ml-5">
<h1 class="title is-3">Planet Information</h1>
<p class="subtitle is-5">Planet Name: <%=@planet.planet_name%></p>
<p class="subtitle is-5">Rotation Period: <%=@planet.rotation_period%></p>
<p class="subtitle is-5">Orbital Period: <%=@planet.orbital_period%></p>
<p class="subtitle is-5">Diameter: <%=@planet.diameter%></p>
<p class="subtitle is-5">Gravity: <%=@planet.gravity%></p>
<p class="subtitle is-5">Surface Water: <%=@planet.surface_water%></p>
<p class="subtitle is-5">Population: <%=@planet.population%></p>
</div>