<% content_for(:html_title) {@planet.planet_name}%>
  <div class="ml-5">
  <h1 class="title is-3">Planet Information</h1>
  <p><strong>Planet Name:</strong> <%=@planet.planet_name%></p>
  <p><strong>Rotation Period: </strong><%=@planet.rotation_period%></p>
  <p><strong>Orbital Period: </strong><%=@planet.orbital_period%></p>
  <p><strong>Diameter: </strong><%=@planet.diameter%></p>
  <p ><strong>Gravity: </strong><%=@planet.gravity%></p>
  <p><strong>Surface Water: </strong><%=@planet.surface_water%></p>
  <p><strong>Population: </strong><%=@planet.population%></p>
</div>