<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=yield(:html_title) if content_for?(:html_title)%>Star Wars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <section class="section">
    <div class="container">
    <p class="title is-1 is-spaced">STAR WARS</p>
    <%= link_to "Home", root_path%>
    <%= link_to "About Us", about_index_path%>
<%= form_with(url: search_planets_path, method: :get, local: :true) do %>
  <%= text_field_tag(:keywords, nil, class: "input", placeholder: "Search a planet") %>
  <%= submit_tag("Search", class: "button is-dark") %>
<% end %>
     <%= yield %>
     </div>
     </section>

  </body>
</html>
